<header class="header">
    <div class="container page-header-mobile">
        <nav class="logo">
            <a href="./index.html">
                <p class="header-text">thewatchspot</p>
            </a>
        </nav>
        <div class="header-navigation-block">
            <ul class="mobile-list">
                <li class="header-navigation-item">
                <a href="#about-us.html" class="header-navigation-link">About us</a>
                </li>
                <li class="header-navigation-item">
                <a href="#catalog.html" class="header-navigation-link">Catalog</a>
                </li>
                <li class="header-navigation-item">
                <a href="#sale.html" class="header-navigation-link">Sale</a>
                </li>
            </ul>
            <!-- <button type="button" class="tel-btn"> -->
                <!-- <div class="header-contact"> -->
                    <a href="tel:+380684439426" class="header-tel">+380 (68) 443-94-26</a>
                <!-- </div> -->
            <!-- </button>    -->
            </div>
        <button type="button" class="mobile-menu-open js-open-menu">
            <svg class="mobile-menu-open__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-burger-menu"></use>
            </svg>
        </button>
    </div>

    <div class="mobile-menu js-menu-container">
        <div class="container mobile-menu__container">
            <button class="mobile-menu__close-btn js-close-menu">
                <svg class="mobile-menu__close-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="mobile-list">
                <li class="mobile-list-item">
                    <a href="#about-us" class="mobile-link">
                        <p class="mobile-menu-text">About us</p>
                    </a>
                </li>
                <li class="mobile-list-item">
                    <a href="#catalog" class="mobile-link">
                        <p class="mobile-menu-text">Catalog</p>
                    </a>
                </li>
                <li class="mobile-list-item">
                    <a href="#sale" class="mobile-link">
                        <p class="mobile-menu-text">Sale</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>