<header class="header">
    <div class="container page-header-mobile">
        <nav class="logo">
            <a href="./index.html">
                <p class="header-text">thewatchspot</p>
            </a>
        </nav>
        <button type="button" class="mobile-menu-open js-open-menu">
            <svg class="mobile-menu-open__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-burger-menu"></use>
            </svg>
        </button>
    </div>

    <div class="mobile-menu js-menu-container">
        <div class="container mobile-menu__container">
            <button class="mobile-menu__close-btn js-close-menu">
                <svg class="mobile-menu__close-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="mobile-list">
                <li class="mobile-link"> <!-- тут додам якоря, коли будуть готові всі розділи -->
                    <a href="./about-us.html">
                        <p class="mobile-menu-text">About us</p>
                    </a>
                </li>
                <li class="mobile-link">
                    <a href="./catalog.html"> <!-- аналогічно -->
                        <p class="mobile-menu-text">Catalog</p>
                    </a>
                </li>
                <li class="mobile-link">
                    <a href="./sale.html"> <!-- аналогічно -->
                        <p class="mobile-menu-text">Sale</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>