<section class="catalog_section">
  <div class="container">
    <h2 class="section-title">Catalog</h2>

    <ul class="catalog_list list">
      <li>
        <img
          src=""
          alt="Tube_Watch"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>        
          <p></p>
          <p></p>
      </li>
      <li>
        <img
          src=""
          alt="Avondale_Watch"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Diver_300M_black_silver"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Diver_300M_silver_color"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Taman_Watch"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Malawi_Watch"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Diver_300M_silver"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Greenlane_Watch_black"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Squardrc5402"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Diver_300M_pink_gold"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Citizen"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
      <li>
        <img
          src=""
          alt="Armani_Exchange"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div>
          <p>Description</p>
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p>DETAILS & FEATUREStion</p>
          <p>
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div> 
          <p></p>
          <p></p>
        
      </li>
    </ul>
    <button class="btn_buy_now">Buy now</button>
  </div>
</section>