<section class="catalog_section">
  <div class="container">
    <h2 class="section-title">Catalog</h2>

    <ul class="catalog_list">
      <li class="item">
        <img
          src="../img/01-watch-S42-395_1x.jpg"
          alt="Tube_Watch"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/01-watch-S42-395_1x.jpg 1x,
            ../img/01-watch-S42-395_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Tube Watch S42 Date Steel With Black Case</p>
        <p class="watch-price">€395</p>
      </li>

      <li class="item">
        <div class="catalog-top-wrap">
          <img
            src="../img/Avondale_Watch(1x)opti.jpeg"
            alt="Avondale_Watch"
            width="275"
            height="274"
            class="catalog_section_img"
            srcset="
              ../img/Avondale_Watch(1x)opti.jpeg 1x,
              ../img/Avondale_Watch(2x)opti.jpeg 2x
            "
          />
          <div class="overlay_text">
            <p class="overlay_text_topic">Description</p>
            <p class="overlay_text_characteristic first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
          </div>
        </div>
        <p class="watch-name">Avondale Watch Police For Men</p>
        <p class="watch-price">€800</p>
      </li>

      <li class="item">
        <img
          src="../img/03-diver-300m-600_1x.jpg"
          alt="Diver_300M_black_silver"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/03-diver-300m-600_1x.jpg 1x,
            ../img/03-diver-300m-600_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </p>
        <p class="watch-price">€600</p>
      </li>

      <li class="item">
        <img
          src="../img/04-diver-300m-1400_1x.jpg"
          alt="Diver_300M_silver_color"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/04-diver-300m-1400_1x.jpg 1x,
            ../img/04-diver-300m-1400_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Diver 300M Co-Axial Master Chronometer</p>
        <p class="watch-price">€1400</p>
      </li>

      <li class="item">
        <img
          src="../img/05-taman-pfm-500_1x.jpg"
          alt="Taman_Watch"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/05-taman-pfm-500_1x.jpg 1x,
            ../img/05-taman-pfm-500_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Taman Watch By Police For Men</p>
        <p class="watch-price">€500</p>
      </li>

      <li class="item">
        <img
          src="../img/06-malawi-pfm-555_1x.jpg"
          alt="Malawi_Watch"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/06-malawi-pfm-555_1x.jpg 1x,
            ../img/06-malawi-pfm-555_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Malawi Watch Police For Men</p>
        <p class="watch-price">€555</p>
      </li>

      <li class="item">
        <img
          src="../img/07-diver-300m-1200_1x.jpg"
          alt="Diver_300M_silver"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/07-diver-300m-1200_1x.jpg 1x,
            ../img/07-diver-300m-1200_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Diver 300M Co-Axial Master Chronometer</p>
        <p class="watch-price">€1200</p>
      </li>

      <li class="item">
        <img
          src="../img/08-greenlane-pfm-1000_1x.jpg"
          alt="Greenlane_Watch_black"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/08-greenlane-pfm-1000_1x.jpg 1x,
            ../img/08-greenlane-pfm-1000_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Greenlane Watch By Police For Men</p>
        <p class="watch-price">€1000</p>
      </li>

      <li class="item">
        <img
          src="../img/09-squardrc-359_1x.jpg"
          alt="Squardrc5402"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/09-squardrc-359_1x.jpg 1x,
            ../img/09-squardrc-359_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Squardrc 5402 Chrono</p>
        <p class="watch-price">€359</p>
      </li>

      <li class="item">
        <img
          src="../img/10-diver-300m-400_1x.jpg"
          alt="Diver_300M_pink_gold"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/10-diver-300m-400_1x.jpg 1x,
            ../img/10-diver-300m-400_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
        <p class="watch-price">€400</p>
      </li>

      <li class="item">
        <img
          src="../img/11-citizen-519_1x.jpg"
          alt="Citizen"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/11-citizen-519_1x.jpg 1x,
            ../img/11-citizen-519_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Citizen</p>
        <p class="watch-price">€519</p>
      </li>

      <li class="item">
        <img
          src="../img/12-armani-400_1x.jpg"
          alt="Armani_Exchange"
          width="275"
          height="274"
          class="catalog_section_img"
          srcset="
            ../img/12-armani-400_1x.jpg 1x,
            ../img/12-armani-400_2x.jpg 2x
          "
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <pre class="overlay_text_characteristic last">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel Band 
Material: Metal
Case Material: Metal 
Features: Multifunction Water 
Resistant: 5(ATM) 
Band Colour: Steel
          </pre>
        </div>
        <p class="watch-name">Armani Exchange</p>
        <p class="watch-price">€400</p>
      </li>
    </ul>
    <button class="btn_buy_now">Buy now</button>
  </div>
</section>
