<section class="catalog_section">
  <div class="container">
    <h2 class="section-title">Catalog</h2>

    <ul class="catalog_list">
      <li class="item">
        <img
          src="../img/"
          alt="Tube_Watch"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Tube Watch S42 Date Steel With Black Case</p>
        <p>€395</p>
      </li>

      <li class="item">
        <div class="catalog-top-wrap">
          <img
            src=""
            alt="Avondale_Watch"
            width="276"
            height="375"
            class="catalog_section_img"
            srcset=""
          />
          <div class="overlay_text">
            <p class="overlay_text_topic">Description</p>
            <p class="overlay_text_characteristic first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
            <p class="overlay_text_characteristic last">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <p>Avondale Watch Police For Men</p>
        <p>€800</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Diver_300M_black_silver"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Diver 300M Co‑Axial Master Chronometer Chronograph</p>
        <p>€600</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Diver_300M_silver_color"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Diver 300M Co-Axial Master Chronometer</p>
        <p>€1400</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Taman_Watch"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Taman Watch By Police For Men</p>
        <p>€500</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Malawi_Watch"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Malawi Watch Police For Men</p>
        <p>€555</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Diver_300M_silver"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Diver 300M Co-Axial Master Chronometer</p>
        <p>€1200</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Greenlane_Watch_black"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Greenlane Watch By Police For Men</p>
        <p>€1000</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Squardrc5402"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Squardrc 5402 Chrono</p>
        <p>€359</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Diver_300M_pink_gold"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Diver 300M Co‑Axial Master Chronometer Chronograph</p>
        <p>€400</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Citizen"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Citizen</p>
        <p>€519</p>
      </li>

      <li class="item">
        <img
          src=""
          alt="Armani_Exchange"
          width="276"
          height="375"
          class="catalog_section_img"
          srcset=""
        />
        <div class="overlay_text">
          <p class="overlay_text_topic">Description</p>
          <p class="overlay_text_characteristic first">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <p class="overlay_text_topic">DETAILS & FEATUREStion</p>
          <p class="overlay_text_characteristic last">
            Gender: man Size: 46x54.5mm Case Colour: Steel Band Material: Metal
            Case Material: Metal Features: Multifunction Water Resistant: 5
            (ATM) Band Colour: Steel
          </p>
        </div>
        <p>Armani Exchange</p>
        <p>€400</p>
      </li>
    </ul>
    <button class="btn_buy_now">Buy now</button>
  </div>
</section>
