<footer class="container footer">
    <!-- Загальний флекс для трьох блоків -->
    <div class="">

        <div class="footer-logo-adress-block">
            Logo!
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            <address>
                1678 S. Pioneer Road <br>
                Salt Lake City <br>
                UT 84104                
            </address>
        </div>

        <div class="">

            <ul class="">

                <li class="">
                    <a href="" class="">About us +++++++++++</a>
                </li>

                <li class="">
                    <a href="" class="">Catalog</a>
                </li>

                <li class="">
                    <a href="" class="">Sale</a>
                </li>

            </ul>

        </div>

        <div class="">

            <ul class="social-list">

                <li class="social-list__item">
                    <a href="" class="social-list__item-link">
                        <!-- Faceboock -->
                        <svg class="social-list__icon" width="24" height="24">
                            <use href="../img/sprite.svg#facebook" class=""></use>
                        </svg>
                    </a>
                </li>

                <li class="social-list__item">
                    <a href="" class="social-list__item-link">
                        <!-- Instagram -->
                        <svg class="social-list__icon"  width="24" height="24">
                            <use href="../img/sprite.svg#instagram" class=""></use>
                        </svg>
                    </a>
                </li>

                <li class="social-list__item">
                    <a href="" class="social-list__item-link">
                        <!-- Youtube -->
                        <svg class="social-list__icon"  width="24" height="24">
                            <use href="../img/sprite.svg#youtube" class=""></use>
                        </svg>
                    </a>
                </li>

            </ul>
        </div>

    </div>
    <!-- Копірайт блдок -->
    <div class="">
        <p>&#xa9;2022 The Watch Spot. All rights reserved.</p>
        <ul>
            <li>
                <p>Privacy Policy</p>
            </li>
            <li>
                <p>Terms of Service</p>
            </li>
        </ul>
    </div>

</footer>