<footer class="container footer">
    <!-- Загальний флекс для трьох блоків -->
    <div class="footer__block">
        <!-- Блок лого -->
        <div class="footer__logo-adress-block">

            <a href="" class="">
                <!-- Logo -->
                <svg class="social-list-icon"  width="40" height="40">
                    <use href="../img/sprite.svg#icon-logo" class=""></use>
                </svg>
            </a>

            <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>

            <address class="footer-adress">
                1678 S. Pioneer Road <br>
                Salt Lake City <br>
                UT 84104                
            </address>

        </div>

        <!-- Блок навігації -->
        <div class="footer__navigation-block">

            <ul class="">

                <li class="footer-navigation-item">
                    <a href="" class="">About us</a>
                </li>

                <li class="footer-navigation-item">
                    <a href="" class="">Catalog</a>
                </li>

                <li class="footer-navigation-item">
                    <a href="" class="">Sale</a>
                </li>

            </ul>

        </div>

        <!-- Блок соц.мережі -->
        <div class="footer__social-block">

            <ul class="social-list">

                <li class="social-list-item">
                    <a href="" class="social-list-link">
                        <!-- Faceboock -->
                        <svg class="social-list-icon" width="24" height="24">
                            <use href="../img/sprite.svg#facebook" class=""></use>
                        </svg>
                    </a>
                </li>

                <li class="social-list-item">
                    <a href="" class="social-list-link">
                        <!-- Instagram -->
                        <svg class="social-list-icon"  width="24" height="24">
                            <use href="../img/sprite.svg#instagram" class=""></use>
                        </svg>
                    </a>
                </li>

                <li class="social-list-item">
                    <a href="" class="social-list-link">
                        <!-- Youtube -->
                        <svg class="social-list-icon"  width="24" height="24">
                            <use href="../img/sprite.svg#youtube" class=""></use>
                        </svg>
                    </a>
                </li>

            </ul>
        </div>

    </div>
    <!-- Копірайт блок -->
    <div class="">
        <p>&#xa9;2022 The Watch Spot. All rights reserved.</p>
        <ul>
            <li>
                <p>Privacy Policy</p>
            </li>
            <li>
                <p>Terms of Service</p>
            </li>
        </ul>
    </div>

</footer>