<footer class="container footer">
    <!-- Загальний флекс для трьох блоків -->
    <div class="">

        <div class="footer-logo-adress-block">
            Logo!
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            <address>
                1678 S. Pioneer Road <br>
                Salt Lake City <br>
                UT 84104                
            </address>
        </div>

        <div class="">
            <ul>
                <li>
                    <a href="">About us</a>
                </li>
                <li>
                    <a href="">Catalog</a>
                </li>
                <li>
                    <a href="">Sale</a>
                </li>
            </ul>
        </div>

        <div class="">
            Social net!
        </div>

    </div>
    <!-- Копірайт блдок -->
    <div class="">
        <p>&#xa9;2022 The Watch Spot. All rights reserved.</p>
        <ul>
            <li>
                <p>Privacy Policy</p>
            </li>
            <li>
                <p>Terms of Service</p>
            </li>
        </ul>
    </div>

</footer>