<header class="">
  <h1 class="hero-text">
    Code here.
  </h1>

  <div class="light">
    <p>Light</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora magni expedita quam nulla numquam. Rem aliquam qui       architecto inventore dolor, praesentium distinctio voluptas reprehenderit libero debitis saepe dolorum voluptate quia.
    </p>
  </div>

  <div class="regular">
    <p>Regular</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora magni expedita quam nulla numquam. Rem aliquam qui       architecto inventore dolor, praesentium distinctio voluptas reprehenderit libero debitis saepe dolorum voluptate quia.
    </p>
  </div>

  <div class="semibold">
    <p>SemiBold</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora magni expedita quam nulla numquam. Rem aliquam qui       architecto inventore dolor, praesentium distinctio voluptas reprehenderit libero debitis saepe dolorum voluptate quia.
    </p>
  </div>

</header>
