<header class="header">
    <div class="container page-header-mobile">
        <nav class="logo">
            <a href="./index.html">
                <p class="header-text">thewatchspot</p>
            </a>
        </nav>
        <div class="container header-navigation-block">
            <ul class="mobile-list">
                <li class="header-navigation-item">
                <a href="#about-us.html" class="header-navigation-link">About us</a>
                </li>
                <li class="header-navigation-item">
                <a href="#catalog.html" class="header-navigation-link">Catalog</a>
                </li>
                <li class="header-navigation-item">
                <a href="#sale.html" class="header-navigation-link">Sale</a>
                </li>
            </ul>
            <button type="button" class="tel-btn">
                <div class="header-contact">
                    <a href="tel:+380684439426" class="header-tel">+380 (68) 443-94-26</a>
                </div>
            </button>   
            </div>
    </div>
    </header>
