<section class="header-container">
    <nav class="header-wraper">
    <a class="header-logo" href="./header.html">
        <img src="../img/logo-cropped.svg" alt="site logo" width="40" height="40" />
        <p class="header-text">thewatchspot</p>
        </a>
        <div class="header-navigation-block">
        <ul class="">
            <li class="hedear-navigation-item">
            <a href="#about-us.html" class="header-navigation-link">About us</a>
            </li>
            <li class="header-navigation-item">
            <a href="#catalog.html" class="header-navigation-link">Catalog</a>
            </li>
            <li class="header-navigation-item">
            <a href="#sale.html" class="header-navigation-link">Sale</a>
            </li>
        </ul>
        </div>
        <div class="header-tel">
            <a href="tel:+380684439426" class="header-tel">+380 (68) 443-94-26</a>
        </div>
    </nav>
</section>
