<section class="container">
    <div class="container-title">
        <h1 class="hero-title">
            Welcome to our collection of premium watches
        </h1>
        <p class="hero-text-invisible">
            Our watches are not just timepieces, but also an expression of
            your personality and lifestyle. From classic designs to
            modern ones, we have a watch to suit every taste and occasion.
        </p>
    </div>   
        <!-- slider -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source 
                            srcset="./img/main-tabl-image-slider.jpg 1x,
                                    ./img/main-tabl-image-slider@2x.jpg 2x"
                            media="(min-width:1280px)"
                        />
                        <source
                            srcset="./img/main-tabl-image-slider.jpg 1x,
                                    ./img/main-tabl-image-slider@2x.jpg 2x"
                            media="(min-width:768px)"
                        />
                        <source
                            srcset="./img/main-mobile-image-slider.jpg 1x,
                                    ./img/main-mobile-image-slider.jpg@2x.jpg 2x"
                            media="(max-width:767px)"
                        />

                        <img src="./img/main-mobile-image-slider.jpg" alt="swiper-image" width="266" height="200">
                    </picture>
                </div>
                <!-- <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./img/tabl-slider-image2.jpg 1x,
                                    ./img/tabl-slider-image2@2x.jpg 2x"
                            media="(min-width:1280px)"
                        />
                        <source
                            srcset="./img/tabl-slider-image2.jpg 1x,
                                    ./img/tabl-slider-image2@2x.jpg 2x"
                            media="(min-width:768px)" 
                        />
                        <source
                            srcset="./mobile-slider-image2.jpg 1x,
                                    ./img/mobile-slider-image2@2x.jpg 2x"
                            media="(max-width:767px)"
                        />

                        <img src="./img/mobile-slider-image2.jpg" alt="swiper-image" width="266" height="200">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./img/tabl-slider-image3.jpg 1x,
                                    ./img/tabl-slider-image3@2x.jpg 2x"
                            media="(min-width:1280px)"
                        />
                        <source 
                            srcset="./img/tabl-slider-image3.jpg 1x,
                                    ./img/tabl-slider-image3@2x.jpg 2x"
                            media="(min-width:768px)"
                        />
                        <source
                            srcset="./img/mobile-slider-image3.jpg 1x,
                                    ./img/mobile-slider-image-slider3@2x.jpg 2x"
                            media="(max-width:767px)"
                        />

                        <img src="./img/mobile-slider-image3.jpg" alt="swiper-image" width="266" height="200">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./img/tabl-slider-image4.jpg 1x,
                                    ./img/tabl-slider-image4@2x.jpg 2x"
                            media="(min-width:1280px)"
                        />
                        <source
                            srcset="./img/tabl-slider-image4.jpg 1x,
                                    ./img/tabl-slider-image4@2x.jpg 2x"
                            media="(min-width:768px)"
                        />
                        <source
                            srcset="./img/mobile-slider-image4.jpg.jpg 1x,
                                    ./img/mobile-slider-image4@2x.jpg 2x"
                            media="(max-width:767px)"
                        />

                        <img src="./img/mobile-slider-image4.jpg" alt="swiper-image" width="266" height="200">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            srcset="./img/tabl-slider-image5.jpg 1x,
                                    ./img/tabl-slider-image5@2x.jpg 2x"
                            media="(min-width:1280px)"
                        />
                        <source 
                            srcset="./img/tabl-slider-image5.jpg 1x, 
                                    ./img/tabl-slider-image5@2x.jpg 2x"
                            media="(min-width:768px)"
                        />
                        <source
                            srcset="./img/mobile-slider-image5.jpg 1x,
                                    ./img/mobile-slider-image5@2x.jpg 2x"
                            media="(max-width:767px)"
                        />

                        <img src="./img/mobile-slider-image5.jpg" alt="swiper-image" width="266" height="200">
                    </picture>
                </div> -->
            </div>
            <p class="tabl-hero-text">
                Our watches are not just timepieces, but also an expression of
                your personality and lifestyle. From classic designs to
                modern ones, we have a watch to suit every taste and occasion.
            </p>
        </div>
        <!-- slider -->
        <div class="swiper-buttons">
            <div class="button-prev">
                <svg class="icon-chevron left" width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-chevron-left"></use>
                </svg>
            </div>
            <div class="button-next">
                <svg class="icon-chevron right" width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-chevron-right"></use>
                </svg>
            </div>
        </div>
        <p class="hero-text">
            Our watches are not just timepieces, but also an expression of
            your personality and lifestyle. From classic designs to
            modern ones, we have a watch to suit every taste and occasion.
        </p>
    
    <picture>
        <source 
            srcset="./img/desktop-hero.jpg 1x, 
                    ./img/desktop-hero@2x.jpg 2x"
            media="(min-width:1280px)"
        />
        <source 
            srcset="./img/tabl-hero.jpg 1x, 
                    ./img/tabl-hero@2x.jpg 2x"
            media="(min-width:768px)"
        />
        <source 
            srcset="./img/mobile-hero.jpg 1x, 
                    ./img/mobile-hero@2x.jpg 2x"
            media="(max-width:767px)"
        />
        <img src="./img/mobile-hero.jpg" alt="main-hero-image" width="335" height="410">
    </picture> 
</section>
<!-- <script>
    const swiper = new Swiper(".mySwiper",{
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        keyboard: {
            enabled: true,
        },
        navigation: {
            nextEl: "button-next",
            nextEl: "button-prev"
        },
    });
</script> -->