<section class="hero-color">
    <div class="container">
        <div class="container-title">
            <h1 class="hero-title">
                Welcome to our collection of premium watches
            </h1>
        </div>   
        <div class="desktop-container">
            <!-- slider -->
            <div class="swiper mySwiper">

                <div class="swiper-wrapper">
          
                    <div class="swiper-slide">
                        <picture>
                            <source 
                                srcset="../img/swiper/slider-tab-watch-1.jpg 1x,
                                        ../img/swiper/slider-tab-watch-1@2x.jpg 2x"
                                media="(min-width: 768px)"
                                alt="#">
                            <!-- <img src="../img/swiper/slider-tab-watch-1.jpg" alt="#"> -->
                            <source 
                                srcset="../img/swiper/slider-mob-watch-1.jpg 1x,
                                        ../img/swiper/slider-mob-watch-1@2x.jpg 2x"
                                media="(max-width: 767px)"
                                alt="#">
                            <img src="../img/swiper/slider-mob-watch-1.jpg" alt="#">
                        </picture>
                        
                    </div>
            
                    <div class="swiper-slide">
                        <picture>
                            <source 
                                srcset="../img/swiper/slider-mob-watch-2.jpg 1x,
                                        ../img/swiper/slider-mob-watch-2@2x.jpg 2x"
                                media="(max-width: 767px)"
                                alt="#">
                            <img src="../img/swiper/slider-mob-watch-2.jpg" alt="#">
                        </picture>
                        
                    </div>
            
                    <div class="swiper-slide">
                        <picture>
                            <source 
                                srcset="../img/swiper/slider-mob-watch-3.jpg 1x,
                                        ../img/swiper/slider-mob-watch-3@2x.jpg 2x"
                                media="(max-width: 767px)"
                                alt="#">
                            <img src="../img/swiper/slider-mob-watch-3.jpg" alt="#">
                        </picture>
                        
                    </div>
            
                    <div class="swiper-slide">
                        <picture>
                            <source 
                                srcset="../img/swiper/slider-mob-watch-4.jpg 1x,
                                        ../img/swiper/slider-mob-watch-4@2x.jpg 2x"
                                media="(max-width: 767px)"
                                alt="#">
                            <img src="../img/swiper/slider-mob-watch-4.jpg" alt="#">
                        </picture>
                        
                    </div>
            
                    <div class="swiper-slide">
                        <picture>
                            <source 
                                srcset="../img/swiper/slider-mob-watch-5.jpg 1x,
                                        ../img/swiper/slider-mob-watch-5@2x.jpg 2x"
                                media="(max-width: 767px)"
                                alt="#">
                            <img src="../img/swiper/slider-mob-watch-5.jpg" alt="#">
                        </picture>
                        
                    </div>
            
                </div>

                <div class="swiper-buttons">
                    <div class="button-n">&#10094;</div>
                    <div class="button-p">&#10095;</div>
                </div>

                </div>

            </div>

            <p class="hero-text">
                Our watches are not just timepieces, but also an expression of
                your personality and lifestyle. From classic designs to
                modern ones, we have a watch to suit every taste and occasion.
            </p>
        <!-- Main hero picture -->
        <picture>
            <source 
                srcset="./img/desktop-hero.jpg 1x, 
                        ./img/desktop-hero@2x.jpg 2x"
                media="(min-width:1280px)"
            />
            <source 
                srcset="./img/tabl-hero.jpg 1x, 
                        ./img/tabl-hero@2x.jpg 2x"
                media="(min-width:768px)"
            />
            <source 
                class="hero-pic"
                srcset="./img/mobile-hero.jpg 1x, 
                        ./img/mobile-hero@2x.jpg 2x"
                media="(max-width:767px)"
            />
            <img src="./img/mobile-hero.jpg" alt="main-hero-image" class="hero-pic">
        </picture> 
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- Swiper script initialization -->
    <script>
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            keyboard: {
                enabled: true,
            },
            navigation: {
                prevEl: ".button-p",
                nextEl: ".button-n",
                
            },
        });
      </script>
</section>
