<section class="new-watches">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <p class="new-watches-text">
      Green And Bronze—The <br />Match Made In Heaven
    </p>
    <div class="img-contain">
      <picture>
        <source
          class="new-watches-img"
          srcset="
            /img/new-watches/new-watches-1-desk.jpg    1x,
            /img/new-watches/new-watches-1-desk@2x.jpg 2x
          "
          media="(min-width:1440px)"
        />
        <source
          class="new-watches-img"
          srcset="
            /img/new-watches/new-watches-1-tab.jpg    1x,
            /img/new-watches/new-watches-1-tab@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          class="new-watches-img"
          srcset="
            /img/new-watches/new-watches-1-mob.jpg    1x,
            /img/new-watches/new-watches-1-mob@2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="new-watches-img"
          src="/img/new-watches/new-watches-1-desk.jpg"
          alt="Watch on the hand"
        />
      </picture>

      <picture>
        <source
          class="new-watches-img"
          srcset="
            /img/new-watches/new-watches-2-desk.jpg    1x,
            /img/new-watches/new-watches-2-desk@2x.jpg 2x
          "
          media="(min-width:1440px)"
        />
        <source
          class="new-watches-img"
          srcset="
            /img/new-watches/new-watches-2-tab.jpg    1x,
            /img/new-watches/new-watches-2-tab@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          class="new-watches-img"
          srcset="
            img/new-watches/new-watches-2-mob.jpg     1x,
            /img/new-watches/new-watches-2-mob@2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="new-watches-img"
          src="/img/new-watches/new-watches-2-desk.jpg"
          alt="Watch on the black background "
        />
      </picture>
    </div>
  </div>
</section>
