<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sale.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <main>
<!--SALE-->
    <section class="sale">
        <div class="container">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-flex-elements">
        <div class="sale-flex-elements-img">
<!--IMG-CLOCK-->
            <ul class="sale-list list">
                 <li class="sale-img-clock-1"></li> <!--clock-1 -->
                <li>
                    <img
                    srcset="../img/clock-2.jpg 1x, ../img/clock-2x2.jpg 2x"
                    src="../img/clock-2.jpg" 
                    alt="clock-2" 
                    width="146" height="146">
                </li>
                <li>
                    <img
                    srcset="../img/clock-3.jpg 1x, ../img/clock-3x2.jpg 2x"
                    src="../img/clock-3.jpg" 
                    alt="clock-3" 
                    width="146" height="146">
                </li>
                <li>
                    <img
                    srcset="../img/clock-4.jpg 1x, ../img/clock-4x2.jpg 2x"
                    src="../img/clock-4.jpg" 
                    alt="clock-4" 
                    width="146" height="146">
                </li>
            </ul>
            <ul class="">
                <li class="list">
                    <img
                    srcset="../img/clock-5.jpg 1x, ../img/clock-5x2.jpg 2x"
                    src="../img/clock-5.jpg" 
                    alt="clock-5" 
                    width="406" height="614">
                </li>
            </ul>
<!--IMG-CLOCK-->
        </div>
        <div>
<!--INFO-CLOCK-->
        <h3 class="sale-subtitle">Greenlane Watch By 
            Police For MenHT</h3>
            <p class="sale-subtitle-item">Product tag: PEWJK2227003</p>
            <ul class="sale-list-700_1000 list">
                <li><h3 class="sale-subtitle-700">€700</h3></li>
                <li><p class="sale-subtitle-item-1000">€1000</p></li>
            </ul>
            <ul class="list">
                <li class="">
                    <h3 class="sale-info-clock-title">Description</h3>
                    <p class="sale-info-clock-text-1">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction design that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
                </li>
                <li class="">
                    <h3 class="sale-info-clock-title">DETAILS & FEATUREStion</h3>
                    <p class="sale-info-clock-text-2">Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel</p>
                </li>
            </ul>
<!--INFO-CLOCK-->
        </div>
    </div>
</div>
    </section>
<!--SALE-->
    </main>
</body>
</html>