<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-flex-elements">
      <div class="sale-flex-elements-img">

        <ul class="sale-list list">
          <li class="big-watch-standart">
            
          </li>
          <li>
            <img
              srcset="./img/img-watch2.jpg 1x, ./img/img-watch2-2x.jpg 2x"
              src="./img/img-watch2.jpg"
              alt="watch-2"
              width="80"
              height="80"
            />
          </li>
          <li>
            <img
              srcset="./img/img-watch3.jpg 1x, ./img/img-watch3-2x.jpg 2x"
              src="./img/img-watch3.jpg"
              alt="watch-3"
              width="80"
              height="80"
            />
          </li>
          <li>
            <img
              srcset="./img/img-watch4.jpg 1x, ./img/img-watch4-2x.jpg 2x"
              src="./img/img-watch4.jpg"
              alt="watch-4"
              width="80"
              height="80"
            />
          </li>
        </ul>

        <ul class="sale-list-big">
          <li class="list">
            <img
              srcset="./img/img-watch5.jpg 1x, ./img/img-watch5-2x.jpg 2x"
              src="./img/img-watch5.jpg"
              alt="watch-5"
              width="235"
              height="350"
            />
          </li>
        </ul>

      </div>
      <div>
        <h3 class="sale-subtitle">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-subtitle-item">Product tag: PEWJK2227003</p>
        <ul class="sale-list-700_1000 list">
          <li><h3 class="sale-subtitle-700">€700</h3></li>
          <li><p class="sale-subtitle-item-1000">€1000</p></li>
        </ul>
        <ul class="sale-info-watch list">
          <li class="sale-info-watch-item">
            <h3 class="sale-info-watch-title">Description</h3>
            <p class="sale-info-watch-text-1">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch features a versatile multifunction design that
              fits effortlessly into work and play. The steel case is adorned
              with a semi-transparent black dial. The timepiece exhibits a
              contrast through a black IP bracelet with matching crown and
              pushers.
            </p>
          </li>
          <li class="sale-info-watch-item">
            <h3 class="sale-info-watch-title">DETAILS & FEATUREStion</h3>
            <p class="sale-info-watch-text-2">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
