<section class="slider">
    <div class="container">
      <h1>Swiper TEST</h1>
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
      
              <!-- <div class="swiper-slide">
                  <img src="../img/tabl-slider-image.jpg" alt="#">
              </div> -->
      
              <div class="swiper-slide">
                  <img src="../img/tabl-slider-image2.jpg" alt="#">
              </div>
      
              <div class="swiper-slide">
                  <img src="../img/tabl-slider-image3.jpg" alt="#">
              </div>
      
              <div class="swiper-slide">
                  <img src="../img/tabl-slider-image4.jpg" alt="#">
              </div>
      
              <div class="swiper-slide">
                  <img src="../img/tabl-slider-image5.jpg" alt="#">
              </div>
      
          </div>
      </div>
      
      <div class="swiper-buttons">
          <div class="button-next">next</div>
          <div class="button-prev">prev</div>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script>
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            keyboard: {
                enabled: true,
            },
            navigation: {
                nextEl: ".button-next",
                prevEl: ".button-prev",
            },
        });
      </script>
</section>