.about {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-title {
  font-family: 'Epilogue-semibold';
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--dark-green);
  margin-bottom: 40px;
}

.about-text {
  font-family: 'Epilogue-light';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--dark-color);
  margin-bottom: 20px;
}
.about-wraper {
  margin-bottom: 40px;
}

.about-gif {
  width: 335px;
  height: 365px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-clock {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
