/* @media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
} */

@media screen and (min-width: 768px) {
  .mobile-menu,
  .page-header-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    background-color: black;
    padding: 29px 20px 30px 20px;
  }

  .page-header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.03em;

    color: #ffffff;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 29px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1e2827;
    z-index: 100;
    /* display: none; */
  }

  .mobile-menu__container {
    position: relative;
  }

  .mobile-menu-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
