


/* заголовок секции */
.section-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

/* заголовок секции комп версия  */
@media screen and (min-width: 1440px) {
    .section-title {
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 64px;
    }
}

/* список с часами  */
.catalog_list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    gap: 40px 32px;
}

@media screen and (max-width: 1440px) {
.catalog_list {
    justify-content: center;
}
}

@media screen and (min-width: 1440px) {
    .catalog_list{
        margin-left: -24px;
        gap: 0;
    }
     .catalog_list>.item{
        width: calc((100% / 4) - 24px);
        margin-left: 24px;
        margin-bottom: 82px;
     }
}

.catalog_list > .item{
    outline: 1px solid teal;
    width: 276px;
}

/* выезжающий текст */
.overlay_text{
    width: 100%;
    background-color: var(--dark-green);
    padding: 40px 60px 40px 40px;
}

.overlay_text > .overlay_text_topic{
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.overlay_text > .overlay_text_characteristic{
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.overlay_text_characteristic.first{
    width: 100%;
    margin-bottom: 20px;
}

.overlay_text_characteristic.last{
    width: 100%;
}

/* выезжающий текст комп версия */
@media screen and (min-width: 1440px) {
 .overlay_text{
    width: 276px;
    height: 325px;
    padding: 20px;
 }
}




/* кнопка "BUY NOW" */
.btn_buy_now {
    width: 108px;
    height: 42px;
    border-radius: 8px;
    background-color: var(--dark-green);
    color: var(--light-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

@media screen and (min-width: 1440px) {
    .btn_buy_now {
        margin-top: 0;
    }
}