.footer {
    /* display: flex; */
    background-color: var(--dark-green);
    color: var(--light-color);
}

.footer-logo-adress-block {
    display: block;
    padding-top: 40px;
}

.social-list__icon {
    fill: green;
}