@media screen and (min-width: 768px) {
    .mobile-menu, 
    .mobile-menu__container,
    .mobile-menu-open {
    display: none;
    }

.header {
    background-color: var(--dark-color);
    padding-bottom: 95px;
    }

.header-text {
    font-family: 'Epilogue-regular', Verdana, 'Times New Roman', Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.03em;
    
    color: var(--light-color);
    position: relative;
    left: 15px;
}
    
.header-text:before {
    content: '';
    background: url('../img/logo-cropped.svg') no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    float: left;
    margin: 0 4px 0 0;
    position: absolute;
    margin-left: -16px;
    top: -3px;
}
    
.mobile-list {
    display: flex;
    gap: 40px;
    font-size: 15px;
    padding-top: 38px;
    }
    
.logo{
    position: absolute;
    padding-left: 32px;
    }
    
.header-text {
    position: absolute;
    line-height: 15px;
    letter-spacing: -0.03em;
    padding-left: 4px;
    color: var(--light-color);
    padding-left: 35px
    }
    
.header-navigation-block {
    display: flex;
    margin-left: 235px;
    font-family: 'Epilogue-regular', Verdana, 'Times New Roman', Arial;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--light-color);
    }
    
.hedear-navigation-link {
    font-family: 'Epilogue-regular', Verdana, 'Times New Roman', Arial;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--light-color)
    }

.header-contact {
    padding-top: 18px;
    width: 159px;
    height: 48px;
    left: 577px;
    top: 20px;
    font-size: 9px;
    line-height:1.33;
    text-align: center;
    text-transform: uppercase;
    border-color: var(--dark-green);
    border-radius: 8px;
    background-color: #1E2827;
    justify-content: center;
    color: var(--light-color);
    cursor: pointer;
    }

.tel-btn {
    margin-top: 20px;
    margin-left: 162px;
    margin-right: 32px;
    border: none;
    background-color: transparent;
}

}

@media screen and (min-width: 1280px) {
.header-navigation-block {
    margin-left: 335px;
    }

}