:root { 
    --darck-color: #141414;
    --darck-green: #1E2827;
    --rgba-secondary-color-grey: rgba(20, 20, 20, 0.5);
} 
h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Epilogue', sans-serif;
    color: var(--darck-color);
}
.container {
    margin: 0 auto;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}

/*-----------------------------------------SALE-DESCTOP--------------------------------------------------*/
@media screen and (min-width: 1280px) {
/* .container {
    width: 1176px;
    padding: 0 52px;
} */
.sale {
    padding: 80px 0 160px 0;
}
.sale-flex-elements {
    display: flex;
    justify-content: center;
    width: 1176px;
    gap: 40px;
}
.sale-flex-elements-img {
    display: flex;
    gap: 20px;
}
.sale-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: var(--darck-green);
    margin-bottom: 80px;
}
/*-----------------IMG-CLOCK--------------------*/
.sale-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sale-list li img {
    width: 146px;
    height: 146px;
    object-fit: contain;
  }
.sale-img-clock-1 {
    background-color: var(--darck-color);
    position: relative;
    background-image: url(../img/clock-1.png);
    width: 146px;
    height: 146px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1440px),
       screen and (min-resolution: 192dpi) and (max-width: 1440px), 
       screen and (min-resolution: 2dppx) and (max-width: 1440px) {
    .sale-img-clock-1 {
        background-image: url(../img/clock-1x2.png);
    }
}
/*-----------------IMG-CLOCK--------------------*/

/*-----------------IMFO-CLOCK--------------------*/
.sale-subtitle {
    width: 369px;
    height: 80px;
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: var(--darck-color);
    margin-bottom: 8px;
}
.sale-subtitle-item {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--rgba-secondary-color-grey);
    margin-bottom: 16px;
}
.sale-list-700_1000 {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
}
.sale-subtitle-700 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--darck-color);
}
.sale-subtitle-item-1000 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: var(--rgba-secondary-color-grey);
}
.sale-info-clock-title {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--darck-color);
    margin-bottom: 17px;
}
.sale-info-clock-title::after {
    content: "";
    width: 16px;
    height: 0;
    border-top: 1px solid var(--darck-color);
    position: absolute;
    left: 353px;
    bottom: 13px;
}
.sale-info-clock-title::before {
    content: "";
    width: 369px;
    top: -8px;
    border-top: 1px solid var(--darck-color);
    position: absolute;
}
.sale-info-clock-text-1 {
    width: 369px;
    height: 126px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: var(--rgba-secondary-color-grey);
    margin-bottom: 20px;
}
.sale-info-clock-text-2 {
    width: 162px;
    height: 143px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: var(--rgba-secondary-color-grey);
}
/*-----------------IMFO-CLOCK--------------------*/
}
/*-----------------------------------------SALE-DESCTOP--------------------------------------------------*/