.hidden-desc {
    display: none;
}

.sale {
    /* padding-top: 80px; */
    padding-bottom: 80px;
}

.sale-flex-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 335px;
    gap: 40px;
}

.sale-flex-elements-img {
    display: flex;
    gap: 20px;
}

.sale-title {
    font-family: 'Epilogue-semibold', Verdana, Geneva, Tahoma, sans-serif;

    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--dark-color);
    margin-bottom: 40px;
}

.sale-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.big-watch-standart {
    display: flex;
    overflow: hidden;
    width: 80px;
    height: 80px;

    background-image: url('../img/img-watch1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), 
    screen and (min-resolution: 192dpi), 
    screen and (min-resolution: 2dppx) {
        .big-watch-standart {
            background-image: url('../img/img-watch1-2x.jpg');
        } 
    }

.sale-list-big {
    display: flex;
    align-items: center;
    background-color: var(--dark-color);
}

.sale-list-big > .list {
    background-color: var(--dark-color);
}

.sale-subtitle {
    font-family: 'Epilogue-regular', Verdana, Geneva, Tahoma, sans-serif;

    height: 48px;

    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #141414;
    margin-bottom: 8px;
}

.sale-subtitle-item {
    font-family: 'Epilogue-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
    margin-bottom: 16px;
}

.sale-list-700_1000 {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
}

.sale-subtitle-700 {
    font-family: 'Epilogue-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #141414;
}

.sale-subtitle-item-1000 {
    font-family: 'Epilogue-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: rgba(20, 20, 20, 0.5);
}

.sale-info-watch {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
}

.sale-info-watch-title {
    font-family: 'Epilogue-regular', Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 17px;
}

.sale-info-watch-title::before {
    content: "";
    width: 335px;
    top: -20px;
    border: 1px solid #141414;
    position: absolute;
}

.sale-info-watch-title::after {
    content: "";
    width: 16px;
    height: 0;
    border: 1px solid #141414;
    position: absolute;
    left: 319px;
    /* bottom: 13px; */
}

.sale-info-watch-text-1 {
    font-family: 'Epilogue-regular', Verdana, Geneva, Tahoma, sans-serif;
    width: 335px;
    height: 132px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);
    margin-bottom: 40px;
}

.sale-info-watch-text-2 {
    font-family: 'Epilogue-regular', Verdana, Geneva, Tahoma, sans-serif;
    width: 162px;
    height: 143px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(20, 20, 20, 0.5);
}

@media screen and (min-width: 768px) {

.sale {
    padding-bottom: 128px;
}

.sale-flex-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 572px;
    gap: 40px;
    margin-left: auto;
        margin-right: auto;
}

.sale-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: var(--dark-green);
}

.sale-subtitle {
    width: 572px;
        height: 80px;
    font-size: 38px;
        line-height: 1.05;
}

.sale-info-watch-title::before {
    content: "";
    width: 572px;
    top: -20px;
    border: 1px solid #141414;
    position: absolute;
}

.sale-info-watch-title::after {
    content: "";
    width: 16px;
    height: 0;
    border: 1px solid #141414;
    position: absolute;
    left: 556px;
}

.sale-info-watch-text-1 {
    width: 572px;
    height: 72px;
    margin-bottom: 40px;
}

.sale-info-watch-text-2 {
    width: 162px;
    height: 143px;
}

}

@media screen and (min-width: 1280px) {
    .hidden-desc {
        display: block;
    }
}
/* @media screen and (min-width: 1280px) {
    .sale {
        padding-bottom: 160px;
    }

    .sale-flex-elements {
        display: flex;
        justify-content: center;
        width: 1176px;
        gap: 40px;
    }

    .sale-flex-elements-img {
        display: flex;
        gap: 20px;
    }

    .sale-title {
        
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: var(--darck-green);
        margin-bottom: 80px;
    }

    .sale-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sale-list li img {
        width: 146px;
        height: 146px;
        object-fit: contain;
    }

    .big-watch-standart {
        background-color: var(--darck-color);
        position: relative;
        background-image: url(../img/clock-1.png);
        width: 146px;
        height: 146px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (min-device-pixel-ratio: 2),
       screen and (min-resolution: 192dpi), 
       screen and (min-resolution: 2dppx) {
        .big-watch-standart {
        background-image: url(../img/clock-1x2.png);
        }
    }

    .sale-subtitle {
        width: 369px;
        height: 80px;
        font-weight: 400;
        font-size: 38px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: var(--darck-color);
        margin-bottom: 8px;
    }

    .sale-subtitle-item {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: var(--rgba-secondary-color-grey);
        margin-bottom: 16px;
    }

    .sale-list-700_1000 {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 40px;
    }

    .sale-subtitle-700 {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: var(--darck-color);
    }

    .sale-subtitle-item-1000 {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-decoration-line: line-through;
        color: var(--rgba-secondary-color-grey);
    }

    .sale-info-watch {
        max-width: 370px;
    }

    .sale-info-watch-title {
        position: relative;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: var(--darck-color);
        margin-bottom: 17px;
    }

    .sale-info-watch-title::after {
        content: "";
        width: 16px;
        height: 0;
        border-top: 1px solid var(--darck-color);
        position: absolute;
        left: 353px;
        bottom: 13px;
    }

    .sale-info-watch-title::before {
        content: "";
        width: 369px;
        top: -8px;
        border-top: 1px solid var(--darck-color);
        position: absolute;
    }

    .sale-info-watch-text-1 {
        width: 369px;
        height: 126px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: var(--rgba-secondary-color-grey);
        margin-bottom: 20px;
    }

    .sale-info-watch-text-2 {
        width: 162px;
        height: 143px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: var(--rgba-secondary-color-grey);
    }
} */

