/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

/* Так підключаємо header. Все інше за аналогією. */
@import url('./header.css');
/* Тут підключаємо HERO */

/* Тут підключаємо About us */

/* Тут підключаємо Catalog */

/* Тут підключаємо Catalog-modal-windov */

/* Тут підключаємо Green And Bronze—The Match Made In Heaven */

/* Тут підключаємо Sale */

/* Тут підключаємо footer */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
