/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* Так підключаємо header. Все інше за аналогією. */
@import url('./header.css');
/* Тут підключаємо HERO */

/* Тут підключаємо About us */

/* Тут підключаємо Catalog */

/* Тут підключаємо Catalog-modal-windov */

/* Тут підключаємо Green And Bronze—The Match Made In Heaven */

/* Тут підключаємо Sale */

/* Тут підключаємо footer */

:root {
  /* Кольори макету */
  --darck-color: #141414;
  --light-color: #FFFFFF;
  --darck-green: #1E2827;

  /* Змінна для підключення анімації */
  --transition-var: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ====================* Опис основних форматів шрифту! *==================== */
/* --- Hero ---- */
.hero-text {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.03;

  letter-spacing: -0.04em;

  /* color: var(--light-color); */
}