/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* Так підключаємо header. Все інше за аналогією. */
@import url('./header.css');
/* Тут підключаємо HERO */

/* Тут підключаємо About us */

/* Тут підключаємо Catalog */

@import url('./modal.css');

/* Тут підключаємо Green And Bronze—The Match Made In Heaven */

/* Тут підключаємо Sale */

/* Тут підключаємо footer */

@font-face {
  font-family: 'Epilogue-light';
  src: url('../fonts/Epilogue-Light.woff2') format('woff2'),
    url('../fonts/Epilogue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue-regular';
  src: url('../fonts/Epilogue-Regular.woff2') format('woff2'),
    url('../fonts/Epilogue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue-semibold';
  src: url('../fonts/Epilogue-SemiBold.woff2') format('woff2'),
    url('../fonts/Epilogue-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Кольори макету */
  --dark-color: #141414;
  --light-color: #ffffff;
  --dark-green: #1e2827;

  /* Змінна для підключення анімації */
  --transition-var: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ====================* Опис основних форматів шрифту! *==================== */
/* --- Hero ---- */
.hero-text {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.03;

  letter-spacing: -0.04em;

  /* color: var(--light-color); */
}
